%p 
    %a(href="http://#{address}/#{custom}") #{custom} 
    &#45;>
    %a(href="#{url}") #{url}


        %form(action="/" method="POST")
            %label(for="url") URL
            %input(type="text" name="url" id="url" accesskey="s")
            %br
            %label(for="custom") Custom Shortened URL(optional)
            %input(type="text" name="custom" id="custom" accesskey="t")
            %br
            %input(type="submit" value="Shorten" class="btn btn-primary")
