%p 
    %a(href="http://#{address}/#{short_url.id.to_s(36)}") #{short_url.id.to_s(36)}
    &#45;>
    %a(href="#{short_url.url}") #{short_url.url}
    %a(href="#{short_url.custom}") #{short_url.custom}
